@{
    ViewData["Title"] = "ListarProductos";
}

@model List<Producto_space.Producto>
<h1>Lista de Productos</h1>
<ul>
@foreach (var p in Model)
{
    <li>
        <p>@p.Descripcion</p><p>@p.Precio</p>
        <a asp-action="ModificarProducto" asp-route-id="@p.IdProducto" class="btn btn-warning">Modificar</a>
        <a asp-action="EliminarProducto" asp-route-id="@p.IdProducto" class="btn btn-danger">Eliminar</a>
    </li>
}
</ul>