@{
    ViewData["Title"] = "ModificarProducto";
}
<h1>Modificar Producto</h1>
@using tp6_tallerII.Models
@model Producto_space.Producto


<form asp-controller="Productos" asp-action="ModificarProducto" method="post">
    <input type="hidden" asp-for="IdProducto" value="@Model.IdProducto">
    <div class="form-group">
        <label for="Descripcion">Descripción</label>
        <input type="text" asp-for="Descripcion" name="Descripcion" class="form-control">
    </div>
    <div class="form-group">
        <label for="Precio">Precio</label>
        <input type="number" asp-for="Precio" name="Precio" class="form-control">
    </div>
    <input type="submit" title="Modificar" class="btn btn-success">
</form>