@{
    ViewData["Title"] = "CrearPresupuestos";
}
@using tp6_tallerII.Models
@model Cliente_space.Cliente

<table class="table table-bordered">
    <legend>Clientes</legend>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
    </tr>
    @foreach(Cliente c in @Model)
    {
        <tr>@c.ClienteId</tr>
        <tr>@c.Nombre</tr>
        <tr>@c.Email</tr>
        <tr>
            <a asp-action="CrearPresupuesto" asp-route-idCliente="@c.ClienteId">Agregar</a>
        </tr>
    }
</table>